---
import '../styles/global.css';
import logo from '../assets/logo.png';

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "oPills",
	description = "The future of medication management, guided by expert analysts. Your health, simplified."
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href={logo.src} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body id="page-top">
		<slot />
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const links = document.querySelectorAll('a[href^="#"]');
				const duration = 1200; // Slower duration in milliseconds (1.2 seconds)
				const offset = 80; // Offset from the top in pixels

				links.forEach(link => {
					link.addEventListener('click', function (e) {
						e.preventDefault();

						const href = this.getAttribute('href');
						const targetElement = document.querySelector(href === '#' ? 'body' : href);

						if (targetElement) {
							const targetPosition =
								targetElement.getBoundingClientRect().top + window.pageYOffset - offset;
							const startPosition = window.pageYOffset;
							const distance = targetPosition - startPosition;
							let startTime = null;

							function animation(currentTime) {
								if (startTime === null) startTime = currentTime;
								const timeElapsed = currentTime - startTime;
								const run = ease(timeElapsed, startPosition, distance, duration);
								window.scrollTo(0, run);
								if (timeElapsed < duration) requestAnimationFrame(animation);
							}

							// Easing function
							function ease(t, b, c, d) {
								t /= d / 2;
								if (t < 1) return (c / 2) * t * t + b;
								t--;
								return (-c / 2) * (t * (t - 2) - 1) + b;
							}

							requestAnimationFrame(animation);
						}
					});
				});
			});
		</script>
	</body>
</html> 