---
import '../styles/global.css';

const title = "oPills";
const description = "The future of medication management, guided by expert analysts. Your health, simplified.";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/Opillsv2/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body id="page-top">
		<slot />
		<script src="../lib/smooth-scroll.js"></script>
	</body>
</html> 